wheel
setuptools

torch==2.1.0
torchvision
xformers
diffusers
Pillow
typing_extensions
sympy
mpmath
packaging
huggingface_hub
tqdm
PyYAML
filelock
numpy
safetensors
transformers==4.35.2
regex
accelerate
omegaconf
lz4==4.3.2
